html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    color: #333;
    overflow: hidden;
}

.main {
    display: flex;
    align-items : center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-weight: bold;
}

#main-info-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-top: 4px solid var(--card-color);
}

#left-navbar {
    background-color: var(--header-color);
    width: 15rem;
    border-right: 4px solid var(--card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-text {
    text-align: center;
    color: var(--h2-color);
    border-bottom: 4px solid var(--card-color);
    padding-bottom: 30px;
    width: 100%;
}

.options-button {
    width: 14rem;
    padding: 15px 0px;
    margin: 2px 5px;
    background-color: var(--header-color);
    font-size: 1.25rem;
    color: var(--h2-color);
}

.options-button:hover {
    background-color: #d0d0d0;
}

.options-button:active {
    scale: 0.97;
}






























#dashboard-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 20px;
    flex-grow: 1;
}

#div-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow-y: auto;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--high-defecit-color);
    width: 21rem;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.solve-user {
    margin: 0px;
    color: #484a67;
}

.solve-time {
    margin: 5px;
    font-size: 1.3rem;
    margin-top: 0;
    color: #414141;
}

.event-text {
    margin: 0;
    color: #414141;
}

.wca-pb {
    margin: 0;
    color: #414141;
}

.buttons-div {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

button {
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 6px 10px;
    margin: 10px 0 5px 0;
    color: #1a1a1a;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.ok-button {
    background-color: var(--green-button);
}

.ok-button:hover {
    background-color: var(--green-button-hover);
}

.ok-button:active {
    transform: scale(0.97);
}

.warn-button {
    background-color: var(--yellow-button);
}

.warn-button:hover {
    background-color: var(--yellow-button-hover);
}

.warn-button:active {
    transform: scale(0.97);
}

.dnf-button {
    background-color: var(--error-color);
}

.dnf-button:hover {
    background-color: #cb2e2e;
}

.dnf-button:active {
    transform: scale(0.97);
}

.ban-button {
    background-color: var(--ban-color);
}

.ban-button:hover {
    background-color: #a81313;
}

.ban-button:active {
    transform: scale(0.97);
}

.template {
    display: none;
}

.solve-user-link {
    text-decoration: underline;
}

.notif-abs-div {
  position: absolute;
  right: 5px;
  top: 20px;
}

#notif-div {
    position: sticky;
    margin-left: auto;
    margin-right: 10px;
    width: fit-content;
    top: 10px;
}

.notification {
    background-color: var(--notification-color);
    width: 15rem;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--h2-color);
    box-shadow: 0 4px 12px rgb(0,0,0,0.25);
    color: var(--dark-font-color);
    animation: fadeIn 0.15s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; 
       display: flex;
    }
  100% { opacity: 1; }
}

.fade-out { animation: fadeOut 2.5s; }

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}