html body {
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 5px;
    font-size: 5rem;
}

#error-joke {
    margin-bottom: 70px;
}

h2 {
    font-size: 2rem;
    margin: 5px;
}

h3 {
    font-size: 1.5rem;
    margin: 75px;
    color:rgb(18, 13, 29);
}

@media screen and (max-width: 800px) {
    html body {
        overflow-y: hidden;
    }
    h1 {
        margin: 5px;
        font-size: 4rem;
    }

    #error-joke {
        margin-bottom: 40px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 5px;
    }

    h3 {
        font-size: 1.5rem;
        margin: 40px;
        color:rgb(18, 13, 29);
    }
}