html, body {
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    color: #333;
    overflow-y: hidden;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 85px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#log-in-req-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#discord-link-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    margin-bottom: 60px;
    font-size: 1.075rem;
}

.discord-logo-div {
    display: flex;
    align-items: center;
    background-color: #5865F2;
    padding: 7px 5px;
    margin: 5px;
    border-radius: 7px;
}

.discord-logo-div > img {
    width: 20px;
}

h1 {
    color: var(--h1-color);
    font-size: 2rem;
}

button {
    font-family: inherit;
    outline: none;
    border: none;
}

.version-text {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-weight: 200;
    font-size: 0.85rem;
    color: var(--dark-font)
}