html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    color: #333;
    overflow-y: hidden;
}

button {
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 85px);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search-button {
    border: none;
    color: white;
    border-radius: 17.5px;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--green-button);
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
    background-color: var(--green-button-hover);
}

#search-button:active {
    transform: scale(0.97);
}

#searching-text {
    font-size: 1.3rem;
    display: none;
    color: #555;
    margin-top: 20px;
}

#searching-users-text {
    font-size: 1.15rem;
    color: var(--success-color);
    margin-top: 20px;
    font-weight: 700;
}

#searching-div-grow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#discord-link-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 1.075rem;
}

.discord-logo-div {
    display: flex;
    align-items: center;
    background-color: #5865F2;
    padding: 7px 5px;
    margin: 5px;
    border-radius: 7px;
}

.discord-logo-div > img {
    width: 20px;
}

#tutorial-div {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    margin-inline: auto; 
    width: 35rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--popup-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.1);
}

#tutorial-div > h3 {
    margin: 10px;
    text-align: center;
}

#tutorial-div > h1 {
    margin: 0px;
}

#tutorial-accept-button {
    border: none;
    color: white;
    border-radius: 17.5px;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: var(--green-button);
    padding: 8px 45px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#tutorial-accept-button:hover {
    background-color: var(--green-button-hover);
}

#tutorial-accept-button:active {
    transform: scale(0.97);
}