html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    color: #333;
}

button {
    cursor: pointer;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--defecit-color);
  border-radius: 10px;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#leaderboard-div {
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    padding: 8px 20px;
    margin: 20px;
    background-color: var(--popup-color);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.1);
    align-items: center;
}

.stats-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.stats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#badges-div {
    display: flex;
    flex-direction: column;
    height: 8.65rem;
    overflow-y: auto;
    background-color: var(--defecit-color);
    border-radius: 10px;
    padding: 5px;
    min-width: 170px;
}

.badge {
    background-color: #999999;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-weight: 500;
}

#temp-div {
  display: flex;
  flex-direction: column;
  height: 8.65rem;
  overflow-y: auto;
  background-color: var(--defecit-color);
  border-radius: 10px;
  padding: 5px;
  width: 170px;
}

#user-stats-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics-text {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px;
}

#rankings-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.event-entry {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.event-entry-text {
  flex-basis: 0;
  flex-grow: 1;
  padding: 15px 0;
  margin: 0px;
  border-bottom: 3px solid #bebebe;
}

.event-entry-text.event-text {
  border-right: 3px solid #bebebe;
}

.sorting-button {
    padding: 5px 12px;
    margin: 3px;
    font-size: 0.925rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #bebebe;
    border-radius: 5px;
    background-color: var(--popup-color);
    transition: background-color 0.125s ease, transform 0.1s ease;
}

.sorting-button:hover {
    background-color: var(--neutral-button);
}

.sorting-button:active {
    background-color: var(--bright-green-button)
}

#rankings-key {
  border-bottom: 3px solid #bebebe;
  flex-direction: row;
  margin: 0px 0px;
  text-align: center;
}

.rankings-key {
  font-weight: bold;
  flex-basis: 0;
  flex-grow: 1;
}

.badge-template {
  display: none;
}

#event-entry-template {
  display: none;
}

.event-button {
  padding: 6px 9px;
  font-size: 1.2rem;
  border: 2px solid #bebebe;
  border-radius: 5px;
  background-color: var(--popup-color);
  transition: background-color 0.125s ease, transform 0.1s ease;
}

.event-button:hover {
  background-color: var(--neutral-button);
}

.event-button:active {
  background-color: var(--bright-green-button);
}

.hidden-button {
  display: none;
}

.rank {
  background-color: #999999;
  border-radius: 20px;
  padding: 4px 10px;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.rank-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* Ranks */

.champ-rank {
  background: #a7b83b;
  background: linear-gradient(90deg, rgba(167, 184, 59, 1) 0%, rgba(210, 217, 2, 1) 100%);
  -webkit-box-shadow:0px 0px 16px 10px rgba(237,240,72,0.9);
  -moz-box-shadow: 0px 0px 16px 10px rgba(237,240,72,0.9);
  box-shadow: 0px 0px 16px 10px rgba(237,240,72,0.9);
}

.emerald-rank {
  background: #2eba18;
  background: linear-gradient(90deg, rgba(46, 186, 24, 1) 0%, rgba(127, 255, 110, 1) 100%);
}

.diamond-rank {
  background: #8bf6f7;
  background: linear-gradient(90deg,rgba(139, 246, 247, 1) 0%, rgba(36, 163, 227, 1) 100%);
}

.gold-rank {
  background: #EFBF04;
}

.silver-rank {
  background: #C4C4C4;
}

.bronze-rank {
  background: #CE8946;
}


/* Badges */
.owner-badge {
  background: rgb(0, 119, 230);
  background: linear-gradient(0deg,rgb(0, 119, 230) 0%, rgb(89, 162, 247) 100%); 
}

.tester-badge {
  background: #a2ff80;
  background: linear-gradient(90deg,rgba(162, 255, 128, 1) 0%, rgba(22, 204, 80, 1) 100%);
}

.early-tester-badge {
  background: #6fd14b;
  background: linear-gradient(90deg,rgba(111, 209, 75, 1) 0%, rgb(13, 104, 1) 100%);
}

.creator-badge {
  background: #e00000;
  background: linear-gradient(53deg, rgba(224, 0, 0, 1) 0%, rgba(255, 82, 82, 1) 100%);
}

/* Not in use */
/*.twitch-badge {
  background: #5600e0;
  background: linear-gradient(53deg, rgba(86, 0, 224, 1) 0%, rgba(189, 66, 255, 1) 100%);
}*/

.diamond-badge {
  background: #8bf6f7;
  background: linear-gradient(90deg,rgba(139, 246, 247, 1) 0%, rgba(36, 163, 227, 1) 100%);
}

.gold-badge {
  background: #ecf00e;
  background: linear-gradient(90deg,rgba(236, 240, 14, 1) 0%, rgba(214, 186, 4, 1) 100%);
}

.silver-badge {
  background: #D1D1D1;
  background: linear-gradient(90deg,rgba(209, 209, 209, 1) 0%, rgb(124, 124, 124) 100%);
}

.bronze-badge {
  background: #d6ae5c;
  background: linear-gradient(90deg,rgba(214, 174, 92, 1) 0%, rgba(138, 100, 18, 1) 100%);
}

.snsfall25-badge {
  background: #7a601c;
  background: linear-gradient(90deg, rgba(122, 96, 28, 1) 0%, rgba(158, 150, 38, 1) 100%);
}

#wca-link {
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.9rem;
  text-align: center;
}

#username-text {
  margin: 3px;
}

.username-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .67em;
}