html, body {
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
    color: #333;
}

a {
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border: none;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#header-logo-div {
    flex-basis: 0px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#header-logo {
    width: 45px;
    height: 45px;
    padding-left: 10px;
    image-rendering: pixelated;
}

#header-buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0px;
    flex-grow: 1;
    margin: -20px 0;
}

.header-button {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: var(--header-color);
    padding: 0px 15px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--h2-color);
}

.header-button:hover {
    color: var(--h2-color);
    background-color: var(--neutral-button);
}

#left-anchored {
    display: flex;
    flex-basis: 0px;
    flex-grow: 1;
    align-items: center;
    justify-content: end;
}

#search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

#search-bar {
    padding: 6px;
    padding-right: 32px;
    min-width: 150px;
    max-width: 200px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-family: inherit;
    color: var(--h2-color);
    transition: box-shadow 0.2s ease;
    font-weight: 200;
}

#search-bar:focus {
    outline: none;
    box-shadow: 0 0 6px #a4a4a4;
    border-color: #a4a4a4;
}

#search-icon {
    width: 20px;
    height: 20px;
    margin-left: -35px;
    padding: 7px;
    cursor: pointer;
}

#profile-button {
    display: none;
    justify-content: center;
    border: none;
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 12px 8px;
    margin-right: 16px;
    max-width: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#profile-button:hover {
    background-color: var(--blue-button-hover);
}

#profile-button:active {
    transform: scale(0.97);
}

.header-username-text {
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    background-color: var(--popup-color);
    border: none;
    border-radius: 0 0 5px 5px;
    width: 100%;
    z-index: 4;
    font-weight: 300;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--h2-color);
    padding: 12px 16px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #dedede;
}

#sign-out-dropdown-link {
    font-weight: 750;
    color: var(--error-color);
}

#sign-in-button {
    display: none;
    border: none;
    background-color: var(--blue-button);
    color: white;
    border-radius: 17.5px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-align: center;
}

#sign-in-button:hover {
    background-color: var(--blue-button-hover);
}

#sign-in-button:active {
    transform: scale(0.97);
}

#admin-dropdown-link {
    display: none;
}

.notif-abs-div {
  position: absolute;
  right: 5px;
  top: 90px;
}

#notif-div {
  position: sticky;
  margin-left: auto;
  margin-right: 10px;
  width: fit-content;
  top: 10px;
  z-index: 3;
}

.notification {
    background-color: var(--notification-color);
    width: 15rem;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--h2-color);
    box-shadow: 0 4px 12px rgb(0,0,0,0.25);
    color: var(--dark-font-color);
    animation: fadeIn 0.15s ease-out;
}

.challenge-req {
  background-color: var(--blue-button);
}

.notification.challenge-req {
    background-color: var(--blue-button);
}

.req-notif-text {
  margin: 0;
}

.req-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.req-buttons > p {
  margin: 5px;
  margin: 5px 30px;
}

.accept-req-button {
  cursor: pointer;
  color: var(--dark-green-button);
  text-decoration: underline;
}

.accept-req-button:hover {
  color: var(--dark-green-button-hover);
}

.decline-req-button {
  cursor: pointer;
  color: var(--dark-red-button);
  text-decoration: underline;
}

.decline-req-button:hover {
  color: var(--dark-red-button-hover);
}

@keyframes fadeIn {
  0% { opacity: 0; 
       display: flex;
    }
  100% { opacity: 1; }
}

.fade-out { animation: fadeOut 2.5s; }

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}